## Multi Index Data Frame:

In [1]:
import pandas as pd
import numpy as np

In [4]:
columns = ["Morning", "Evening"]
rows = [" Mon", "Tue", "Wed"]
data = [
    (1,2),
    (3,4),
    (5,6)
]
pd.DataFrame(data= data, index=rows, columns=columns)

      Morning  Evening
 Mon        1        2
Tue         3        4
Wed         5        6

In [6]:
column_index = pd.MultiIndex.from_tuples([
                ("AP", "Schools"),
                ("AP", "Police"),
                ("TS", "Schools"),
                ("TS", "Police")
])
rows = [" Mon", "Tue", "Wed"]
data = [
    (1,2),
    (3,4),
    (5,6)
]
pd.DataFrame(data= data, index=rows, columns=columns)

      Morning  Evening
 Mon        1        2
Tue         3        4
Wed         5        6