## Multi Index Data Frame:

In [36]:
import pandas as pd
import numpy as np

In [37]:
columns = ["Morning", "Evening"]
rows = [" Mon", "Tue", "Wed"]
data = [
    (1,2),
    (3,4),
    (5,6)
]
pd.DataFrame(data= data, index=rows, columns=columns)

      Morning  Evening
 Mon        1        2
Tue         3        4
Wed         5        6

In [38]:
column_index = pd.MultiIndex.from_tuples([
                ("AP", "Schools"),
                ("AP", "Police"),
                ("TS", "Schools"),
                ("TS", "Police")
])
rows = [" Mon", "Tue", "Wed"]
data = [
    (1,2),
    (3,4),
    (5,6)
]
pd.DataFrame(data= data, index=rows, columns=columns)

      Morning  Evening
 Mon        1        2
Tue         3        4
Wed         5        6

### Multi Index from Tuples:

In [39]:
column_index = pd.MultiIndex.from_tuples([
    ("Services", "Schools"),
    ("Services", "Police"),
    ("Culture", "Museums"),
    ("Culture", "Resturant")
    ])
row_index = pd.MultiIndex.from_tuples([
    ("Malkajgiri", "TS", "500047"),
    ("Marredpalli", "TS", "500026"),
    ("Musheerabad", "TS", "500020")
])
row_index.names = ["Street", "City", "Zip"]
data = [
    ["A","B","A+","C"],
    ["B+", "C", "C+", "A"],
    ["A", "A", "C", "C"]
]

In [40]:
pd.DataFrame (data = data, index=row_index, columns = column_index)

                        Services        Culture
                         Schools Police Museums Resturant
Street      City Zip
Malkajgiri  TS   500047        A      B      A+         C
Marredpalli TS   500026       B+      C      C+         A
Musheerabad TS   500020        A      A       C         C

### Working with Neighbour hood CSV:

In [ ]:
neighborhoods = pd.read_csv("data/neighborhoods.csv")
neighborhoods

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Culture,Culture.1,Services,Services.1
0,NaN,NaN,NaN,Restaurants,Museums,Police,Schools
1,State,City,Street,NaN,NaN,NaN,NaN
2,MO,Fisherborough,244 Tracy View,C+,F,D-,A+
3,SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
4,WV,Jimenezview,432 John Common,A,A+,F,B
...,...,...,...,...,...,...,...
248,MI,North Matthew,055 Clayton Isle,B-,C,B,C+
249,MT,Chadton,601 Richards Road,A-,D,D+,D
250,SC,Diazmouth,385 Robin Harbors,F,D,B-,D+
251,VA,Laurentown,255 Gonzalez Land,C+,B-,F,D-
252,NE,South Kennethmouth,346 Wallace Pass,C-,B-,A,A-

In [42]:
neighborhoods = pd.read_csv("data/neighborhoods.csv", index_col = [0,1,2])
neighborhoods

,,,Culture,Culture.1,Services,Services.1
NaN,NaN,NaN,Restaurants,Museums,Police,Schools
State,City,Street,NaN,NaN,NaN,NaN
MO,Fisherborough,244 Tracy View,C+,F,D-,A+
SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
WV,Jimenezview,432 John Common,A,A+,F,B
...,...,...,...,...,...,...
MI,North Matthew,055 Clayton Isle,B-,C,B,C+
MT,Chadton,601 Richards Road,A-,D,D+,D
SC,Diazmouth,385 Robin Harbors,F,D,B-,D+
VA,Laurentown,255 Gonzalez Land,C+,B-,F,D-
NE,South Kennethmouth,346 Wallace Pass,C-,B-,A,A-

In [43]:
neighborhoods = pd.read_csv("data/neighborhoods.csv",
                            index_col = [0,1,2],  
                            header=[0 ,1])
# index_col =[0,1,2] saying first 3 columns should be index
# header = [0,1] first 2 rows should be header.
neighborhoods

                                               Culture         Services  \
                                           Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A


                                           Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [44]:
neighborhoods.index

MultiIndex([('MO',      'Fisherborough',        '244 Tracy View'),
            ('SD',   'Port Curtisville',     '446 Cynthia Inlet'),
            ('WV',        'Jimenezview',       '432 John Common'),
            ('AK',        'Stevenshire',        '238 Andrew Rue'),
            ('ND',     'New Joshuaport',       '877 Walter Neck'),
            ('ID',         'Wellsville',   '696 Weber Stravenue'),
            ('TN',          'Jodiburgh',    '285 Justin Corners'),
            ('DC',   'Lake Christopher',   '607 Montoya Harbors'),
            ('OH',          'Port Mike',      '041 Michael Neck'),
            ('ND',         'Hardyburgh', '550 Gilmore Mountains'),
            ...
            ('AK',          'Scottstad',      '114 Jones Garden'),
            ('IA',    'Port Willieport',  '320 Jennifer Mission'),
            ('ME',         'Port Linda',        '692 Hill Glens'),
            ('KS',         'Kaylamouth',       '483 Freeman Via'),
            ('WA',     'Port Shawnfort',    '691 Winters Bridge'),
            ('MI',      'North Matthew',      '055 Clayton Isle'),
            ('MT',            'Chadton',     '601 Richards Road'),
            ('SC',          'Diazmouth',     '385 Robin Harbors'),
            ('VA',         'Laurentown',     '255 Gonzalez Land'),
            ('NE', 'South Kennethmouth',      '346 Wallace Pass')],
           names=['State', 'City', 'Street'], length=251)

In [46]:
neighborhoods.index.names

FrozenList(['State', 'City', 'Street'])

In [47]:
neighborhoods.columns

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           )

In [49]:
neighborhoods.columns.names   # we dont have column names for first 3 columns.

FrozenList([None, None])

In [53]:
neighborhoods.columns.names = ["Column Category-->", "Column Subcategory-->"]
neighborhoods

Column Category-->                             Culture         Services  \
Column Subcategory-->                      Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A

Column Category-->
Column Subcategory-->                      Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [ ]:
neighborhoods.index.get_level_values(0)

# all states accessing with number of index.

Index(['MO', 'SD', 'WV', 'AK', 'ND', 'ID', 'TN', 'DC', 'OH', 'ND',
       ...
       'AK', 'IA', 'ME', 'KS', 'WA', 'MI', 'MT', 'SC', 'VA', 'NE'],
      dtype='object', name='State', length=251)

In [ ]:
neighborhoods.index.get_level_values("State")

# all states accessing with the Name of index column.

Index(['MO', 'SD', 'WV', 'AK', 'ND', 'ID', 'TN', 'DC', 'OH', 'ND',
       ...
       'AK', 'IA', 'ME', 'KS', 'WA', 'MI', 'MT', 'SC', 'VA', 'NE'],
      dtype='object', name='State', length=251)

In [58]:
neighborhoods.index.get_level_values("City")

Index(['Fisherborough', 'Port Curtisville', 'Jimenezview', 'Stevenshire',
       'New Joshuaport', 'Wellsville', 'Jodiburgh', 'Lake Christopher',
       'Port Mike', 'Hardyburgh',
       ...
       'Scottstad', 'Port Willieport', 'Port Linda', 'Kaylamouth',
       'Port Shawnfort', 'North Matthew', 'Chadton', 'Diazmouth', 'Laurentown',
       'South Kennethmouth'],
      dtype='object', name='City', length=251)

In [59]:
neighborhoods.columns.get_level_values(0)

Index(['Culture', 'Culture', 'Services', 'Services'], dtype='object', name='Column Category-->')

In [60]:
neighborhoods.columns.get_level_values("Column Category-->")

Index(['Culture', 'Culture', 'Services', 'Services'], dtype='object', name='Column Category-->')

In [62]:
neighborhoods.columns.get_level_values("Column Subcategory-->")

Index(['Restaurants', 'Museums', 'Police', 'Schools'], dtype='object', name='Column Subcategory-->')

In [ ]:
neighborhoods.sort_index()
neighborhoods.sort_index(ascending=False)

#state is in ascending order, with respect to state city is in ascending order, with respect to city street is in ascending order

Column Category-->                            Culture         Services
Column Subcategory-->                     Restaurants Museums   Police Schools
State City           Street
WY    Reneeshire     717 Patel Square               B      B+        D       A
      Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Martintown     013 Bell Mills                C-       D       A-      B-
      Lake Nicole    933 Jennifer Burg              C      A+       A-       C
                     754 Weaver Turnpike            B      D-        B       D
...                                               ...     ...      ...     ...
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
AK    Stevenshire    238 Andrew Rue                D-       A       A-      A-
      Scottstad      114 Jones Garden              D-      D-        D       D
                     082 Leblanc Freeway            D      C-        D      B+
      Rowlandchester 386 Rebecca Cove              C-      A-       A+       C

[251 rows x 4 columns]

In [66]:
neighborhoods.sort_index(ascending= [True, False, True])


#state is in ascending order, with respect to state city is in descending order, with respect to city street is in ascending order.

Column Category-->                            Culture         Services
Column Subcategory-->                     Restaurants Museums   Police Schools
State City           Street
AK    Stevenshire    238 Andrew Rue                D-       A       A-      A-
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
AL    Vegaside       191 Mindy Meadows             B+      A-       A+      D+
...                                               ...     ...      ...     ...
WY    Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Martintown     013 Bell Mills                C-       D       A-      B-
      Lake Nicole    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
      Hardyburgh     227 Andrew Parkway             D      C-       D-       C

[251 rows x 4 columns]

In [67]:
neighborhoods.sort_index(level= 1, ascending= True)

Column Category-->                            Culture         Services
Column Subcategory-->                     Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [ ]:
neighborhoods.sort_index(level= [1,2], ascending= True)
neighborhoods.sort_index(level= ["City", "State"], ascending= True)

# both are same, one accesed wiwth index column number, one with index column name.

Column Category-->                            Culture         Services
Column Subcategory-->                     Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [75]:
neighborhoods.sort_index(
    axis= 1, #1 means Rows, 0 means columns.
    level= "Column Subcategory-->",
    ascending= True
)

,,Column Category-->,Culture,Services,Culture,Services
,,Column Subcategory-->,Museums,Police,Restaurants,Schools
State,City,Street,,,,
MO,Fisherborough,244 Tracy View,F,D-,C+,A+
SD,Port Curtisville,446 Cynthia Inlet,B,B,C-,D+
WV,Jimenezview,432 John Common,A+,F,A,B
AK,Stevenshire,238 Andrew Rue,A,A-,D-,A-
ND,New Joshuaport,877 Walter Neck,C-,B,D+,B
...,...,...,...,...,...,...
MI,North Matthew,055 Clayton Isle,C,B,B-,C+
MT,Chadton,601 Richards Road,D,D+,A-,D
SC,Diazmouth,385 Robin Harbors,D,B-,F,D+
VA,Laurentown,255 Gonzalez Land,B-,F,C+,D-
NE,South Kennethmouth,346 Wallace Pass,B-,A,C-,A-

In [74]:
neighborhoods.sort_index(
    axis= 1,  #1 means column, 0 means Rows
    level= "Column Category-->",
    ascending= True
)

Column Category-->                         Culture             Services  \
Column Subcategory-->                      Museums Restaurants   Police
State City               Street
MO    Fisherborough      244 Tracy View          F          C+       D-
SD    Port Curtisville   446 Cynthia Inlet       B          C-        B
WV    Jimenezview        432 John Common        A+           A        F
AK    Stevenshire        238 Andrew Rue          A          D-       A-
ND    New Joshuaport     877 Walter Neck        C-          D+        B
...                                            ...         ...      ...
MI    North Matthew      055 Clayton Isle        C          B-        B
MT    Chadton            601 Richards Road       D          A-       D+
SC    Diazmouth          385 Robin Harbors       D           F       B-
VA    Laurentown         255 Gonzalez Land      B-          C+        F
NE    South Kennethmouth 346 Wallace Pass       B-          C-        A

Column Category-->
Column Subcategory-->                      Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

### Extracting Columns or Rows:

In [76]:
neighborhoods.loc["TX"]

Column Category-->               Culture         Services
Column Subcategory-->        Restaurants Museums   Police Schools
City        Street
Leeberg     693 Avila Pines           C+       F       A+      D+
Jacksonfort 332 Rachel Way            D+      A-       C-       D
Kingchester 534 Gordon Falls           C      D+        B       B

In [77]:
neighborhoods.loc[("MT", "Chadton", "601 Richards Road")]

Column Category-->  Column Subcategory-->
Culture             Restaurants              A-
                    Museums                   D
Services            Police                   D+
                    Schools                   D
Name: (MT, Chadton, 601 Richards Road), dtype: object