## Multi Index Data Frame:

In [26]:
import pandas as pd
import numpy as np

In [27]:
columns = ["Morning", "Evening"]
rows = [" Mon", "Tue", "Wed"]
data = [
    (1,2),
    (3,4),
    (5,6)
]
pd.DataFrame(data= data, index=rows, columns=columns)

      Morning  Evening
 Mon        1        2
Tue         3        4
Wed         5        6

In [28]:
column_index = pd.MultiIndex.from_tuples([
                ("AP", "Schools"),
                ("AP", "Police"),
                ("TS", "Schools"),
                ("TS", "Police")
])
rows = [" Mon", "Tue", "Wed"]
data = [
    (1,2),
    (3,4),
    (5,6)
]
pd.DataFrame(data= data, index=rows, columns=columns)

      Morning  Evening
 Mon        1        2
Tue         3        4
Wed         5        6

### Multi Index from Tuples:

In [29]:
column_index = pd.MultiIndex.from_tuples([
    ("Services", "Schools"),
    ("Services", "Police"),
    ("Culture", "Museums"),
    ("Culture", "Resturant")
    ])
row_index = pd.MultiIndex.from_tuples([
    ("Malkajgiri", "TS", "500047"),
    ("Marredpalli", "TS", "500026"),
    ("Musheerabad", "TS", "500020")
])
row_index.names = ["Street", "City", "Zip"]
data = [
    ["A","B","A+","C"],
    ["B+", "C", "C+", "A"],
    ["A", "A", "C", "C"]
]

In [30]:
pd.DataFrame (data = data, index=row_index, columns = column_index)

                        Services        Culture
                         Schools Police Museums Resturant
Street      City Zip
Malkajgiri  TS   500047        A      B      A+         C
Marredpalli TS   500026       B+      C      C+         A
Musheerabad TS   500020        A      A       C         C

### Working with Neighbour hood CSV:

In [31]:
neighborhoods = pd.read_csv("data/neighborhoods.csv")
neighborhoods

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Culture,Culture.1,Services,Services.1
0,NaN,NaN,NaN,Restaurants,Museums,Police,Schools
1,State,City,Street,NaN,NaN,NaN,NaN
2,MO,Fisherborough,244 Tracy View,C+,F,D-,A+
3,SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
4,WV,Jimenezview,432 John Common,A,A+,F,B
...,...,...,...,...,...,...,...
248,MI,North Matthew,055 Clayton Isle,B-,C,B,C+
249,MT,Chadton,601 Richards Road,A-,D,D+,D
250,SC,Diazmouth,385 Robin Harbors,F,D,B-,D+
251,VA,Laurentown,255 Gonzalez Land,C+,B-,F,D-
252,NE,South Kennethmouth,346 Wallace Pass,C-,B-,A,A-

In [32]:
neighborhoods = pd.read_csv("data/neighborhoods.csv", index_col = [0,1,2])
neighborhoods

,,,Culture,Culture.1,Services,Services.1
NaN,NaN,NaN,Restaurants,Museums,Police,Schools
State,City,Street,NaN,NaN,NaN,NaN
MO,Fisherborough,244 Tracy View,C+,F,D-,A+
SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
WV,Jimenezview,432 John Common,A,A+,F,B
...,...,...,...,...,...,...
MI,North Matthew,055 Clayton Isle,B-,C,B,C+
MT,Chadton,601 Richards Road,A-,D,D+,D
SC,Diazmouth,385 Robin Harbors,F,D,B-,D+
VA,Laurentown,255 Gonzalez Land,C+,B-,F,D-
NE,South Kennethmouth,346 Wallace Pass,C-,B-,A,A-

In [33]:
neighborhoods = pd.read_csv("data/neighborhoods.csv",
                            index_col = [0,1,2],
                            header=[0 ,1])
neighborhoods

                                               Culture         Services  \
                                           Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A


                                           Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]